.checkout-product {
	border-radius: 7px;
	padding: 20px;
}
.checkout-product-container {
	background-color: white;
	box-shadow: 5px 5px 5px #e5e5e5;
	display: flex;
	align-items: center;
	border-radius: 10px;
	height: 150px;
	width: 100%;
}
.checkout-product-col {
	margin: 0 10px;
}
.checkout-product-img {
	width: 220px;
	height: 140px;
	object-fit: contain;
}
.checkout-qnty-container {
	display: flex;
}
.checkout-qnty-input {
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}